
.container {
    background-color: rgba(255, 230, 142, 0.79);
    max-width: 1600px;
min-height: 1200px;
    background-image: url("./../img/Background.png");
    background-repeat: no-repeat;
    position: relative;
}

h1{
    font-family: Poppins,SansSerif;
    font-size: 27px;
    font-weight: 900;
    line-height: 41px;
    letter-spacing: 0.06em;
    text-align: left;

}
p{
    width: 237.2px;
    height: 34.53px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5866px;
    line-height: 20px;
    /* or 146% */

    letter-spacing: -0.04em;

    color: #7C7C7C;
}

h2{
    width: 195.31px;
    height: 20.38px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.1154px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.04em;

    color: #000000;
}

.site {
    margin-left: 60px;
    margin-top: 50px;
    font-family: Roboto, SansSerif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.favorite {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 70px;
    font-family: Poppins, SansSerif;
    font-size: 27px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0.06em;
    text-align: left;
    z-index: 5;
}

.favorite::after{
    content: url("./../img/Vector 9.png");
     position: absolute;
    top: 12px;
    left: 180px;
    z-index: -2;
}

.plate{
    z-index: 3;
    height: 1200px;
}
.btn{
    margin-bottom: 150px;
}


.young {
    height: 1000px;
    margin-top: 300px;
    margin-right: 50px;
    font-family: Poppins, sans-serif;
    font-size: 130px;
    font-weight: 700;
    line-height: 50px;
    color: #FDD200;
    z-index: 5;
}

.wave {
    position: absolute;
    height: 500px;
    background-image: url("./../img/Background.png");
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;
    top: 800px;
    left: -1px;
   }
.phone{
    margin-top: 150px;
    margin-bottom: 50px;
}
